<h1 class="pt-4" id='workshop'>Kulinarinai Mokymai</h1>

<div class="row">
  <div class="col-4 mb-4" *ngFor="let workshop of workShopsList">
    <div class="card bg-dark text-white h-100">
      <img src="{{ workshop.picture }}" class="card-img-top" alt="..." />
      <div class="card-body d-flex flex-column justify-content-between">
        <h5 class="card-title">{{ workshop.name }}</h5>
        <p class="card-text">{{ workshop.about }}</p>
        <a
          (click)="openModal(template)"
          (click)="transferName(workshop.name)"
          class="btn btn-primary"
          >Užsakyti</a
        >
      </div>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left pl-4">{{ selectedWorkshop }}</h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <h4 class="pl-4">    Jeigu norite užsisakyti šiuos mokymus atsiųskite savo kontaktus ir mes su
        jumis susisieksime.</h4>

    <div class="container mt-5">
      <div class="row">
        <div class="col">
          <form
            class="form-horizontal"
            action="https://formspree.io/f/myyoyozk"
            method="post"
          >
            <!-- Name input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="name">Vardas</label>
              <div class="col-md-9">
                <input
                  id="name"
                  name="name"
                  type="text"
                  placeholder="Jūsų vardas"
                  class="form-control"
                />
              </div>
            </div>

            <!-- Phone input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="phone"
                >Telefono numeris</label
              >
              <div class="col-md-9">
                <input
                  id="phone"
                  name="phone"
                  type="text"
                  value="+370 6"
                  class="form-control"
                />
              </div>
            </div>

            <!-- Email input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="email">
                El.paštas</label
              >
              <div class="col-md-9">
                <input
                  id="email"
                  name="email"
                  type="text"
                  placeholder="Jūsų el.paštas"
                  class="form-control"
                />
              </div>
            </div>

            <!-- Message body -->
            <div class="form-group">
              <label class="col-md-3 control-label" for="message"
                >Komentarai</label
              >
              <div class="col-md-9">
                <textarea
                  class="form-control"
                  id="message"
                  name="message"
                  placeholder="Ar turite klausimų?"
                  rows="5"
                ></textarea>
              </div>
            </div>

            <!-- hidden input -->
            <div class="form-group">
              <label class="col-md-3 control-label" for="hidden"></label>
              <div class="col-md-9">
                <input
                  class="form-control"
                  type="hidden"
                  id="hidden"
                  name="hidden"
                  value="{{ selectedWorkshop }}"
                />
              </div>
            </div>

            <!-- Form actions -->
            <div class="form-group">
              <div class="col-md-12 text-right">
                <button type="submit" class="btn btn-primary btn-lg">
                  Siūsti užklausą
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-template>
