.bg-custom {
    // background-image: url(https://upload.wikimedia.org/wikipedia/commons/1/1a/24701-nature-natural-beauty.jpg);
    min-height: 100vh;
    background-image: url('/assets/p (32).jpg');
    background-size: cover;
    background-position: center center;
}