<div class="container-fluid bg-custom">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 opac p-3">
        <div class="col-9">
          <h1>Belvedere Kitchen</h1>
          <h5>
            Yra vieta, skirta mėgautis ne tik maistu, bet ir Lietuvos gamtos
            siūlomu grožiu.
          </h5>
          <h5>
            Čia galėsite išbandyti save ar išmokti ką nors naujo gaminant
            įvairaus tipo patiekalus.
          </h5>
          <h5>
            Ko pasekoje bus galima pasimėgauti atsiveriančiais Nemuno vaizdais
            valgant savo pačių rankomis pagamintu maistu.
          </h5>
          <h5>
            Netoliese esantis Belvederio dvaras klestėjo ne tik ekonominu, bet
            ir kultūriniu gyvenimu.
          </h5>
          <h5>
            Dvaras yra dešiniajame Nemuno krante, ant kalvos, nuo kurios
            atsiveria gražus reginys į upę ir jos apylinkes.
          </h5>
        </div>
        <app-workshop></app-workshop>
        <app-gallery></app-gallery>
      </div>
    </div>
  </div>
</div>
